input{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding-top: 90px;
    vertical-align: middle;
  }
  
   .col-md-1, .col-md-2, .col-md-9 {
    padding: 0;
  }
  
  /* #planner */
  #plannerContainer { 
    background-color:coral;  
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 40px;
  } 
  
  .plannerRow {
    white-space: pre-wrap;
    height: 65px;
    border-top: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 15px;
  }
  
  /* style container with time in it */
  .timeBox {
    background-color: linen;  
    color: black;
    height:100%;
    width: 100%;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    display: inline-block;
    font-size: 1em;
    border-top: 1px dashed #000000;
  }
  
  /* style container with daily plan */
  .dailyPlan {
    color: black;  
    font-size: 12pt;
    height:100%;
    width: 100%;
  }
  
  .saveIcon {
    background-color: powderblue;
    color:black;
    border-radius: 0px 15px 15px 0px;
    float: right;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    text-align: center;
  }

    /* media query for screen size to be applied to center text to switch at same time as navbar */
    @media (max-width: 768px) {
      .container-fluid {
        /* removes paddding on either side */
        padding-left: 0;
        padding-right: 0;
      }
      .plannerRow {
        height: 100%;
        border-radius: 10;
        margin: 10px;
      }
    
      .saveIcon { border-radius: 0 0 15px 15px; }
    
      .timeBox { border-radius: 15px 15px 0 0; }
    }
